#nav-header{
    align-content: center;
    align-items: center;
    text-align: center;
}
li{
    list-style: none;
}

#futureForcast .col{
    background-color: blue;
    margin: 5px;
    color: white;

}